@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  overflow-x: hidden;
  padding-bottom: 5rem;
  scroll-behavior: smooth;
}

.bg {
  background-image: url("images/123qwe.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: contrast(120%) brightness(20%) saturate(50%);
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

header {
  padding: 0.5rem 3rem 0.8rem 1rem;
  background-color: black;
  width: max-content;
  border-radius: 0 0 5rem 0;
  display: flex;
  animation: slide-in 0.5s ease-in forwards;
}

h1 {
  color: rgb(238, 238, 238);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.icon {
  height: 50px;
  transform: rotateZ(90deg);
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0.2;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.main,
.section {
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  max-width: 1000px;
  min-width: 400px;
  margin: 2rem auto 5rem;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

:is(.main, .section) h2 {
  text-align: center;
  text-transform: uppercase;
}

:is(.main, .section) p {
  margin: 1rem 0.5rem;
  text-indent: 2rem;
  text-align: justify;
}

hr {
  width: 90%;
  margin: 0 auto;
  border-color: rgba(255, 255, 255, 0.5);
}

h3 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: min-content;
  margin-top: 1rem;
}

.section .container p {
  width: 100%;
  padding: 1rem;
}

.section .container .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section .container .image img {
  width: 100%;
}

.table {
  display: grid;
  place-items: center;
}

.table table {
  width: 50%;
}

.table :is(table, td, th) {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
}

.table :is(td, th) {
  padding: 0.2rem 0.5rem;
}
